<input class="password-field" type="password" [formControl]="password" [class.error]="password.hasError('minlength')"
    [style.border-color]="bar0" />

<div class="password-strength">
    <div class="password-strength-field" [class.error-mark]="password.hasError('minlength')"
        [style.background-color]="bar0"></div>
    <div class="password-strength-field" [class.error-mark]="password.hasError('minlength')"
        [style.background-color]="bar1"></div>
    <div class="password-strength-field" [class.error-mark]="password.hasError('minlength')"
        [style.background-color]="bar2"></div>
</div>