.password-field {
    border-radius: 15px;
    border: 1px solid gray;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
    outline: none;
}

.password-strength {
    display: flex;
    width: 150px;
    justify-content: space-around;
}

.password-strength-field {
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color: gray;
}